{% extends "base.memo.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item">My Profile</li>
{% endblock%}
{% block content %}
<!-- Row start -->
<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="{{url_for('static', filename='img/user2.png')}}" alt="{{user.name}}"/>
                        </div>
                        <h5 class="user-name">{{user.name}}</h5>
                        <h6 class="user-email">{{user.email}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Personal Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>{{ form.name.label }}</label>
                                {{ form.name(class="form-control is-invalid" if form.name.errors else
                                "form-control", placeholder="Full name") }}
                                {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>{{ form.email.label }}</label>
                                {{ form.email(class="form-control is-invalid" if form.email.errors else
                                "form-control", placeholder="Email") }}
                                {% if form.email.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row end -->
{% endblock %}

{% block js %}
{{ super () }}
<script>

</script>
{% endblock %}
